.country {
    background-color: #666;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    transition: 0.5s;
}
.country:hover {
    transform: scale(1.1);
}
.flag {
    width: 15rem;
    height: 9rem;
}
h3 {
    margin: 0.1rem;
}
.btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem;
    cursor: pointer;
    background-color: orangered;
    transition: 0.3s;
    margin-top: 0.5rem;
    font-weight: bold;
    
}
.btn:hover {
    background-color: orange;
}